# Ignore files
node_modules/
.next/
out/
build/
dist/

# Ignore configuration files
*.config.js
*.config.mjs
*.config.ts

# Ignore build outputs
*.tsbuildinfo
next-env.d.ts

# Ignore package files
package-lock.json
yarn.lock
pnpm-lock.yaml